body{
    font-family: 'Poppins', sans-serif;
}

.customNav{
    background: url("../images/Rectangle\ 22.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.customNav a{
    color: white !important;
}

.jumbotron{
    background: url("../images/darkBlue.png");
    background-color: transparent !important;
    background-size: cover;
}
.jumbotronSpecial{
    background:url("../images/Rectangle\ 22.png");
}